<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>lab-networks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css?h=aa8bb984b59c270aeedc977628e153e5">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
</head>

<body>
<div class="modal fade" role="dialog" tabindex="-1" id="add-person-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add/change person</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group"><label>First name</label>
                        <input class="form-control" type="text" id="add-person-fname"></div>
                    <div class="form-group"><label>Last name</label><input class="form-control" type="text"
                                                                           id="add-person-lname"></div>
                    <div class="form-group"><label>Age</label><input class="form-control" type="text"
                                                                     id="add-person-age"></div>
                    <div class="form-group"><label>Height</label><input class="form-control" type="text"
                                                                        id="add-person-height"></div>
                    <div class="form-group"><label>Weight</label><input class="form-control" type="text"
                                                                        id="add-person-weight"></div>
                    <div class="form-group" data-toggle="tooltip" data-bs-tooltip=""
                         title="insert car id, split by coma"><label>Cars own</label><input class="form-control"
                                                                                            type="text"
                                                                                            id="add-person-weight">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="add-car-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add/change car</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group"><label>Model</label><input class="form-control" type="text"
                                                                       id="add-person-fname"></div>
                    <div class="form-group"><label>Engine value</label><input class="form-control" type="text"
                                                                              id="add-person-lname"></div>
                    <div class="form-group" data-toggle="tooltip" data-bs-tooltip="" title="split id by comas"><label>Owners</label><input
                            class="form-control" type="text" id="add-person-age"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-4 content-row rounded shadow" id="persons">
        <div class="col-12">
            <div>
                <h4>Persons</h4>
            </div>
        </div>
        <div class="col">
            <div class="border rounded content">
                <h1 class="text-center center-content">FirstName</h1>
                <h4 class="text-center center-content">Last name</h4>
                <h3 class="text-center center-content">Age</h3>
                <h2 class="text-center center-content">Height</h2>
                <h3 class="text-center center-content">Weight</h3>
                <h5 class="text-center center-content">id</h5>
                <div class="btn-group d-xl-flex justify-content-xl-center" role="group"
                     style="display: block;padding-top: 15px;margin: auto;">
                    <button class="btn btn-warning" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="col content" id="add-person-col">
            <h1 class="text-center text-primary" style="display: block;margin: auto;padding-top: 50%;">Add</h1>
            <button class="btn btn-primary" type="button" style="display: block;margin: auto;" data-toggle="modal"
                    data-target="#add-person-modal"><i class="fa fa-plus" id="add-person"></i></button>
        </div>
    </div>
    <div class="row" id="alerts">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <span><strong>Alert</strong> text.</span></div>
        </div>
    </div>
    <div class="row row-cols-4 content-row rounded shadow" id="cars">
        <div class="col-12">
            <div>
                <h4>Cars</h4>
            </div>
        </div>
        <div class="col">
            <div class="content">
                <h1 class="text-center center-content">Model</h1>
                <h4 class="text-center center-content">EngineValue</h4>
                <h4 class="text-center center-content">id</h4>
                <div class="btn-group d-xl-flex justify-content-xl-center" role="group"
                     style="display: block;padding-top: 15px;margin: auto;">
                    <button class="btn btn-warning" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="col content" id="add-car-col">
            <h1 class="text-center text-primary" style="display: block;margin: auto;padding-top: 50%;">Add</h1>
            <button class="btn btn-primary" id="add-car" type="button" style="display: block;margin: auto;"
                    data-target="#add-car-modal" data-toggle="modal"><i class="fa fa-plus" id="add-person"></i></button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/js/bs-init.js?h=de81e5c47df32ab5ad05d8b1819c4c2a"></script>
<script src="../static/assets/js/core.js"></script>
</body>

</html>